.signup-ctn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.signup-btn {
  width: 61%;
  background-color: #246105;
  border-color: #246105;
  color: #fff;
  margin-left: 26%;
}

.input-field.col label {
  left: -6.75rem;
}


.signup-btn:hover {
  background-color: #bef7a2;
}

.auto-input {
  width: 42%;
}

.signup-form-row {
  margin-left: 25%;
}

.collection {
  border-radius: 8px;
}